<% content_for :head do %>
	<title>JAYPATRICK MANALANSAN : FULL STACK DEVELOPER</title>
	<meta name='description' content='JAYPATRICK MANALANSAN FULL STACK WEB DEVELOPER WEB DESIGNER' />
<% end %>
<% content_for :main_column do %>
	<h3 class="work-header grey-text text-lighten-1 left-align">Work while at <a href="#">Insteo</a></h3>
  	<article class="col m12 min">
		<h4 class="work-title"><a href="#" class="flow-text">PETSMART PETBOARD TOUCH</a></h4>
		<div class="col s12 m12 work-body min">
			<%= video_tag("PETSMART-DEMO.mp4", :class =>'responsive-video', controls: true, autobuffer: true, autoplay: true, preload: 'metadata') %>
			<%= image_tag("html5-icon.png", :class => "proj-icon") %>
			<%= image_tag("css3-icon.png", :class => "proj-icon") %>
			<%= image_tag("js-icon.png", :class => "proj-icon") %>
			<%= image_tag("jquery-icon.png", :class => "proj-icon") %>
			<p class="work-tags">Tags: <a href="#">Programmer</a></p>
  			<p class="work-description">Insteo worked with a PetSmart branch to create an in-store ipad touchscreen application to help generate more interest in their pet adoptions, events, social media, and store sales.<br><a href="#"> &raquo; September 2014</a></p>
  		</div>
  	</article>
  	<article class="col m12 min">
		<h4 class="flow-text work-title"><a href="#">Ozio Touch</a></h4>
		<div class="col s12 m12 work-body min">
			<%= video_tag("OZIO-DEMO_4.mp4", :class =>'responsive-video', controls: true, autobuffer: true, autoplay: true, preload: 'metadata') %>
			<%= image_tag("html5-icon.png", :class => "proj-icon") %>
			<%= image_tag("css3-icon.png", :class => "proj-icon") %>
			<%= image_tag("js-icon.png", :class => "proj-icon") %>
			<%= image_tag("jquery-icon.png", :class => "proj-icon") %>
			<p class="work-tags">Tags: <a href="#">Programmer</a>, <a href="#">Designer</a></p>
  			<p class="work-description">Ozio is an operation of commercial massage chairs. They asked Insteo to create a touchscreen interface to accompany their chairs. The chairs would be placed inside public malls. The touchscreen would give them options to pay for massages and serve as a form of entertainment.<br><a href="#"> &raquo; June 2014</a></p>
  		</div>
	<article class="col m12 min">
		<h4 class="flow-text work-title"><a href="#">THE QUEEN MARY SHIP WAYFINDING & TIMELINE TOUCHSCREEN</a></h4>
		<div class="col s12 m12 work-body min">
			<%= video_tag("QMY-DEMO.mp4", :class =>'responsive-video', controls: true, autobuffer: true, autoplay: true, preload: 'metadata') %>
			<%= image_tag("html5-icon.png", :class => "proj-icon") %>
			<%= image_tag("css3-icon.png", :class => "proj-icon") %>
			<%= image_tag("js-icon.png", :class => "proj-icon") %>
			<%= image_tag("jquery-icon.png", :class => "proj-icon") %>
			<p class="work-tags">Tags: <a href="#">Programmer</a>, <a href="#">Designer</a></p>
  			<p class="work-description">A luxurious cruise ship turned hotel permanently docked in Long Beach, CA, the Queen Mary Ship asked Insteo to build a touchscreen kiosk to show a map, timeline, various events, stores and restaurants.<a href="#"> &raquo; May 2013</a></p>
  		</div>
	</article>
  	<article class="col m12 min">
		<h4 class="flow-text work-title"><a href="#">Loop Animated Ad</a></h4>
		<div class="col s12 m12 work-body min">
			<%= video_tag("LOOP-ANIMAD-DEMO_1.mp4", :class =>'video-max', controls: true, autobuffer: true, autoplay: true, preload: 'metadata', height: 'auto', width: '100%') %>
			<%= image_tag("html5-icon.png", :class => "proj-icon") %>
			<%= image_tag("css3-icon.png", :class => "proj-icon") %>
			<%= image_tag("js-icon.png", :class => "proj-icon") %>
			<%= image_tag("jquery-icon.png", :class => "proj-icon") %>
			<p class="work-tags">Tags: <a href="#">Programmer</a>, <a href="#">Designer</a></p>
  			<p class="work-description">Insteo creates digital signs for companies to use for their own products. I was tasked with creating an animated display for the convenience store Loop.<a href="#"> &raquo; April 2013</a></p>
  		</div>
	</article>
<% end %>
<% content_for :side_column do %>
	<h3 class="work-header grey-text text-lighten-1 center-align">Projects</h3>
	<ul class="row side_column">
		<li>
			<%= image_tag("QMY-WF-1.jpg", :class => "responsive-img") %>
			<h5 class="project-title flow-text center-align"><a href="3">PokéMart</a></h5>
			<h6 class="project-subtitle flow-text center-align">CodingDojo - eCommerce</h6>
		</li>
		<li>
			<%= image_tag("QMY-WF-1.jpg", :class => "responsive-img") %>
			<h5 class="project-title flow-text center-align"><a href="3">PokéMart</a></h5>
			<h6 class="project-subtitle flow-text center-align">CodingDojo - eCommerce</h6>
		</li>
		<li>
			<%= image_tag("QMY-WF-1.jpg", :class => "responsive-img") %>
			<h5 class="project-title flow-text center-align"><a href="3">PokéMart</a></h5>
			<h6 class="project-subtitle flow-text center-align">CodingDojo - eCommerce</h6>
		</li>
	</ul>
<% end %>
<% content_for :about do %>
	<h3 class="work-header center-align">About</h3>
	<div class="row">
		<p>Hi! I'm Jay. A full stack web developer with a passion for creating great looking web interfaces.</p>
		<h4>My journey so far...</h4>
		<p>My interest for web design began in high school where I would constantly customize online blogs and myspace sites. I've always had a natural eye for noticing creative visual communication which has led me to discover my skills in art design through a variety of techniques (e.g. hierarchy, typography, grids, imagery, wireframes). I studied web design at the Art Institute of Orange County in CA., where I learned these techniques and how to implement them for creating company branding, e-commerce, user experience/interaction, and interface design. We also covered more interactive media (e.g. motion graphics, video/audio editing) through Adobe Creative Suite programs such as After Effects, Premiere Pro, and Soundbooth. Other programs I am familar with are Dreamweaver, InDesign, Illustrator, Photoshop, and Media Encoder. These skills led me to my first Front-End Developer job at Insteo, a digital signage company. Here, I worked as the main developer for creating their customizable web applications. I created a variety of interactive websites that were used at events, restaurants, hotels and stores.</p>
		<p>I am very progressive when it comes to building websites and I strive to use better techniques each time I create. After working as a Front-End Developer, I decided to pursue my dreams further by expanding my knowledge in the developing side of websites. I attended the Coding Dojo in March of 2015 where I solidified my knowledge in creating an entire website from front to back. The Coding Dojo is a 12 Week Bootcamp for learning 3 full stacks of web development. It is one of the best decisions I've ever made for myself. Weeks of morning algorithms and learning new technologies has broadened my idea of what it takes to fully create a website application.</p>
		<h4>What I've become</h4>
		<p>My experience in learning web developement so far has given me the ability to see the bigger picture when I create a website. I am more knowledgable about different methods of creating a web application and can choose to deliver you a website quickly on Ruby on Rails or give you a site built in the MEAN stack which can offer you a more real-time experience because of sockets. I have a greater understanding of how MVC's work and why they exist. I am thankful for things like GitHub, StackOverflow, CodePen, JSBin, NPM, and any number of frameworks and libraries you can find. It has given me much more appreciation for programmers, designers, and the field of web. I program with a better mindset for making my code understandable, maintainable for others, and to have it follow customary web techniques like REST. I have grown as a designer to believe in the idea of practicality and ease; for me, this idea serves as a basis for creating a functional web experience that serves the user and requires user interaction only when completely necessary but must also be completely easy. Practicality and ease is also reflected through my programming; we shouldn't feel compelled to re-invent the wheel, but we should work together and use the great wheels others have created as a foundation for a brand new product. All of these ideas have driven me to become a much more refined and resourceful web developer.</p>
		<h4>Looking forward</h4>
		<p>I look at my future now with a big grin. Excited to meet and work with other programmers, designers, and directors. Eager to discover what new trends and technologies I should know and learn. My appetite for learning new languages has grown. I look forward to transcending my skills within a company and get a feel about the business side of web development. I am ready to further my career and some day become a Chief Technology Officer of a big company.</p>
	</div>
	<div class="row">
		<div class="col l4">
			<ul>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>Sass/Less</li>
				<li>Javascript</li>
				<li>jQuery</li>
				<li>Linux</li>
				<li>Apache</li>
				<li>MySQL</li>
				<li>PHP</li>
				<li>MongoDB</li>
				<li>Express.io</li>
				<li>Angular.js</li>
				<li>Node.js</li>
				<li>GitHub</li>
				<li>CodeIgniter</li>
				<li>Responsive Web Design</li>
				<li>RESTful Techniques</li>
				<li>CRUD operations</li>
				<li>Branding</li>
				<li>E-Commerce</li>
				<li>User Experience</li>
				<li>User Interaction</li>
				<li>Interface Design</li>
				<li>Web Design</li>
				<li>Content Management Systems</li>
				<li>Front-End Development</li>
				<li>Back-End Development</li>
				<li>Adobe Creative Suite</li>
				<li>Motion Graphics</li>
				<li>Video Editing</li>
			</ul>
		</div>
		<div class="col l4">

		</div>
		<div class="col l4">

		</div>
	</div>
<% end %>